html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.main-grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.table-group {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.item-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #333;
  font-weight: bold;
  color: #333;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.arcadeMachine {
  width: 80px;
  height: 100px;
}

.pingPongTable {
  width: 180px;
  height: 90px;
}
