.height {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_basic {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.login_title {
  text-align: center;
}
